
body {
	margin: 0;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}

.container{
	width: 100%;
	margin: 30px auto;
	background-color: blue;
}

header{
	background-image: linear-gradient(to bottom right, #84e1c2, #28a47b);
}

header::after{
	content: '';
	display: table;
	clear: both;
}

nav {
	float: left;
}

nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
	
}

nav li{
	display: inline-block;
	margin-left: 150px;
	padding-top: 37px;
	position: relative;
}

nav ul > li > a{
	color: #444;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	transition: all ease-in-out 300ms;
}

nav a:hover{
	text-shadow: 0 0 15px #fff,0 0 30px hsla(0,0%,100%,.3);
	color: #fff;
	transition: all ease-in-out 300ms;
}

nav a:before{
	content: '';
	display: block;
	height: 5px;
	background-color: #444;
	position: absolute;
	top: 0;
	width: 0%;
	transition: all ease-in-out 250ms;
}

nav a:hover::before {
	width: 100%;
}

footer {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  background-color: #333;
  padding: 14px 16px;
  }
<!--
header{
	background-image: linear-gradient(to bottom right, #84e1c2, #28a47b);
}

header::after{
	content: '';
	display: table;
	clear: both;
}

.pointer {cursor: pointer;}

footer:hover {
	background-color: LightGray;
   }
  
br {
	clear:both;
}

nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
	
}

nav li{
	display: inline-block;
	margin-left: 150px;
	padding-top: 37px;
	position: relative;
}

nav ul > li > a{
	color: #444;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	transition: all ease-in-out 300ms;
}

nav a:hover{
	text-shadow: 0 0 15px #fff,0 0 30px hsla(0,0%,100%,.3);
	color: #fff;
	transition: all ease-in-out 300ms;
}

nav a:before{
	content: '';
	display: block;
	height: 5px;
	background-color: #444;
	position: absolute;
	top: 0;
	width: 0%;
	transition: all ease-in-out 250ms;
}

nav a:hover::before {
	width: 100%;
}
.pointer {cursor: pointer;
}

nav {
	float: left;
}



.container{
	width: 100%;
	margin: 0 auto;
}
-->
